html,body{min-height:100%}

.AR {
    margin-top: 3px;
    height: 58px;
    width: auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.special,
.xp-link {
    font-weight: 900;
    color: #cc00ff;
}

.section-content {
    text-indent: 1rem;
}

main {
    flex: 1 0 auto;
    font-family: 'Ubuntu', sans-serif;
}

.fa {
    font-size: 27px;
    padding-right: 15px;
    -webkit-transition: color .3s;
    transition: color .3s;
}

.fa-briefcase {
    font-size: 23px;
}

.btn {
    -webkit-transition: color .05s;
    transition: color .05s;
    font-family: 'Roboto', sans-serif;
}

.btn:hover {
    background-color: #f5f5f5 !important;
    color: #00897b !important;
}

.header-container {
    font-family: "Courier New", Courier, monospace;
    margin-top: -64px;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.header {
    font-weight: 400;
}

.skillset,
.vig {
    font-weight: 900;
}

.subhead {
    font-size: 20;
    font-weight: 100;
}

.element,
.email,
.vig,
.location {
    color: #4db6ac;
}

.item {
    padding-bottom: 10px;
}

.section-title {
    font-weight: 400;
    color: #4db6ac;
}

.fa:hover,
.line,
.social-link:hover {
    color: #26a69a;
}

.footer-content {
    color: #bdbdbd;
    font-weight: 300;
}

.social-link {
    color: #eeeeee;
    font-weight: 500;
    -webkit-transition: color .3s;
    transition: color .3s;
}

nav,
.navbar-wrapper,
.scroll,
.navbar-fixed {
    height: 64px !important;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@media (max-width: 600px) {
  .btn {
    font-weight: 300;
  }
}