.AR {
    margin-top: 3px;
    height: 90%;
    width: auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.fa {
    font-size: 27px;
    padding-right: 15px;
    -webkit-transition: color .3s;
    transition: color .3s;
}

.header-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.header {
    font-weight: 400;
}

.subhead {
    font-weight: 100;
}

.section-title {
    font-weight: 400;
}

.fa:hover,
.line,
.social-link:hover {
    color: #26a69a;
}

.footer-content {
    color: #bdbdbd;
    font-weight: 300;
}

.social-link {
    color: #eeeeee;
    font-weight: 500;
    -webkit-transition: color .3s;
    transition: color .3s;
}

nav,
.navbar-wrapper,
.scroll,
.navbar-fixed {
    height: 64px !important;
}
