.AR {
    height: 100%;
    width: 160px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.fa {
    font-size: 27px;
    padding-right: 5px;
}

.fa:hover {
    color: #4dd0e1;
}