---
import BaseLayout from "../../layouts/base.astro";
import PostsList from "../../components/posts-list.astro";
---

<BaseLayout title="Posts" description="List of all posts written by me">
	<main>
		<PostsList />
	</main>
</BaseLayout>
