@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Mona Sans";
	src:
		url("fonts/Mona-Sans.woff2") format("woff2 supports variations"),
		url("fonts/Mona-Sans.woff2") format("woff2-variations");
	font-weight: 400;
	font-stretch: 100%;
}

@font-face {
	font-family: "Hubot Sans";
	src:
		url("fonts/Hubot-Sans.woff2") format("woff2 supports variations"),
		url("fonts/Hubot-Sans.woff2") format("woff2-variations");
	font-weight: 200 900;
	font-stretch: 75% 125%;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
	}
}

@layer base {
	body {
		@apply bg-background text-foreground;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading;
	}
}
