@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Mona Sans";
	src:
		url("/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
		url("/fonts/Mona-Sans.woff2") format("woff2-variations");
	font-weight: 400 500;
	font-stretch: 100% 75%;
}

@font-face {
	font-family: "Hubot Sans";
	src:
		url("/fonts/Hubot-Sans.woff2") format("woff2 supports variations"),
		url("/fonts/Hubot-Sans.woff2") format("woff2-variations");
	font-weight: 400 500 900;
	font-stretch: 75% 75% 125%;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 0%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--shadow: 0 0% 0%;
		--border: 0 0% 0%;
		--light-blue: 190 72% 66%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}
