@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 0%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--shadow: 0 0% 0%;
		--border: 0 0% 0%;
		--light-blue: 190 72% 66%;
		--hot-pink: 302 100% 50%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply antialiased bg-background text-foreground;
	}
}
