---
import BaseLayout from "../layouts/base.astro";
import meImage from "../images/yo.jpg";
import { Picture } from "astro:assets";
---

<BaseLayout>
	<header>
		<div
			class="flex flex-col-reverse sm:flex-row gap-8 justify-between w-full sm:items-center"
		>
			<div>
				<h1 class="font-extrabold font-robot tracking-tight text-4xl">
					Andrés Rodríguez
				</h1>
				<h2 class="text-muted-foreground font-robot text-2xl mt-1">
					Computer Scientist
				</h2>
			</div>
			<Picture
				src={meImage}
				alt="Andrés Rodríguez"
				formats={["avif", "webp"]}
				width={300}
				class="mx-auto shadow border-4 object-cover w-40 h-40"
			/>
		</div>
	</header>
	<main class="flex-1">
		<section class="prose prose-lg mt-8">
			<p>
				Hola! My name is Andrés. I'm a Software Engineer primarily focused on
				full-stack web development. I'm currently working as the Tech Lead of <a
					href="https://coolfiresolutions.com"
					target="_blank"
					rel="noopener noreferrer">Coolfire Solutions</a
				>.
			</p>
		</section>
	</main>
</BaseLayout>
