html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.layout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout-content {
  flex-grow: 1;
  padding: 2rem;
}
